<a href="https://colab.research.google.com/github/Saifullah17003/casting-_string_boolean1/blob/main/Casting.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#PYTHO CASTING
#integer
x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3
print(x)
print(y)
print(z)

1
2
3

In [56]:
#float
x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("4.2") # w will be 4.2
print(x, y, w)

1.0 2.8 4.2

In [ ]:
#string
x = str("s1") # x will be 's1'
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0'
print(x, y, z)

s1 2 3.0

In [ ]:
print("It's alright")
print("He is called 'Johnny'")
print('He is called "Johnny"')

It's alright
He is called 'Johnny'
He is called "Johnny"

In [ ]:
a = "Hello"
print(a)

Hello

In [ ]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [1]:
# Array of string
#get the position of a character in a string
a = "Hello, World!"
print(a[1]) # call the character which is in positiob one

e

In [2]:
##Loop through the letters in the word "banana":

for x in "banana":
  print(x)

b
a
n
a
n
a

In [5]:
#The len() function returns the length of a string:

a = "Hello, World!"
print(len(a))

12

In [9]:
#Check if "free" is present in the following text:

txt = "The best things in life are free!"
print("free" in txt)

True

In [10]:
#Print only if "free" is present: using if statement

txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")

Yes, 'free' is present.

In [11]:
#Check if "expensive" is NOT present in the following text:

txt = "The best things in life are free!"
print("expensive" not in txt)

True

In [12]:
#print only if "expensive" is NOT present: using if statement

txt = "The best things in life are free!"
if "expensive" not in txt:
  print("No, 'expensive' is NOT present.")

No, 'expensive' is NOT present.

In [13]:
#Get the characters from position 2 to position 5 (not included):

b = "Hello, World!"
print(b[2:5])

llo

In [14]:
#Get the characters from the start to position 5 (not included):

b = "Hello, World!"
print(b[:5])

Hello

In [15]:
#Get the characters from position 2, and all the way to the end:

b = "Hello, World!"
print(b[2:])

llo, World!

In [16]:
#Get the characters:

##From: "o" in "World!" (position -5)

##To, but not included: "d" in "World!" (position -2):

b = "Hello, World!"
print(b[-5:-2])

orl

In [17]:
#The upper() method returns the string in upper case:

a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [19]:
#The lower() method returns the string in lower case:

a = "HELLO, WORLD!"
print(a.lower())

hello, world!

In [20]:
#The strip() method removes any whitespace from the beginning or the end:

a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

Hello, World!

In [21]:
#The replace() method replaces a string with another string:

a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

In [22]:
#The split() method splits the string into substrings if it finds instances of the separator:

a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

['Hello', ' World!']

In [23]:
#Merge variable a with variable b into variable c:

a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [24]:
#To add a space between them, add a " ":

a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

In [26]:
#combine integer and string
age = 36
txt =f"My name is John, I am {age}"
print(txt)

My name is John, I am 36

In [27]:
#combine integer and string uning another way
age = 36
txt =f"My name is John, I am"+str(age)
print(txt)

My name is John, I am36

In [28]:
#Add a placeholder for the price variable:

price = 59
txt = f"The price is {price} dollars"
print(txt)

The price is 59 dollars

In [29]:
#Display the price with 2 decimals:

price = 59
txt = f"The price is {price:.2f} dollars"
print(txt)

The price is 59.00 dollars

In [ ]:
print(bool("Hello"))
print(bool(15))

True
True

In [30]:
#Perform a math operation in the placeholder, and return the result:

txt = f"The price is {20 * 59} dollars"
print(txt)

The price is 1180 dollars

In [39]:
#escape character

#You will get an error if you use double quotes inside a string that is surrounded by double quotes:

#txt = "We are the so-called "Vikings" from the north."
#print(txt)

#The escape character allows you to use double quotes when you normally would not be allowed:

txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.

In [40]:
##boolean operation

print(10>9)
print(10==9)
print(10<9)

True
False
False

In [37]:
a=200
b=33
if b>a:
  print("b is greater than a")
else:
    print("b is not greater than a")

b is not greater than a

In [41]:
#Evaluate a string and a number:

print(bool("Hello"))
print(bool(15))

True
True

In [42]:
#Evaluate two variables:

x = "Hello"
y = 15

print(bool(x))
print(bool(y))

True
True

In [43]:
##The following will return True:

bool("abc")
bool(123)
bool(["apple", "cherry", "banana"])

True

In [44]:
#The following will return False:

bool(False)
bool(None)
bool(0)
bool("")
bool(())
bool([])
bool({})

False

In [45]:
class myclass():
  def __len__(self):
    return 0

myobj = myclass()
print(bool(myobj))

False

In [49]:
#Print the answer of a function:

def myFunction() :
  return True

print(myFunction())

True

In [50]:
#Print "YES!" if the function returns True, otherwise print "NO!":

def myFunction() :
  return True

if myFunction():
  print("YES!")
else:
  print("NO!")

YES!

In [51]:
#Check if an object is an integer or not:

x = 200
print(isinstance(x, int))

True

In [52]:
#OPERATOR

print(10 + 5) # This code return 15 as result

15

In [53]:
#Parentheses has the highest precedence, meaning that expressions inside parentheses must be evaluated first:

print((6 + 3) - (6 + 3))

0

In [54]:
#Multiplication * has higher precedence than addition +, and therefor multiplications are evaluated before additions:

print(100 + 5 * 3)

115

In [55]:
#Addition + and subtraction - has the same precedence, and therefor we evaluate the expression from left to right:

print(5 + 4 - 7 + 3)

5